* {
  box-sizing: border-box;
  margin: 0;
}
body {
  margin:50px;
}

.form-group{
  display: flex;
  flex-direction: column;
  margin:5px auto;

}
.form-group input {
  width:50%;
  padding:5px 3px;
}
.form-group label {
  margin-bottom: 5px;
}
img {
  width:25%;
}

